/* Mobile Styles */

header.main {
  display: flex;
  height: 400px;
  margin-top: 120px;
  background-color: orange;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  padding-left: 1.5em;
  padding-right: 1.5em;
  flex-direction: column;
  align-items: center;
}

.username {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 40px;
  color: white;
  padding-top: 20px;
}


/* Desktop Styles */

@media only screen and (min-width: 1024px) {
  header.main {
    margin-top: 180px;
    margin-left: 60px;
    width: 33.3%;
    float: left;
    justify-content: center;
  }
}