/* Mobile Styles */

article {
  display: flex;
  flex-direction: column;
  font-family: 'Source Sans Pro', sans-serif;
}

#each-tweet {
  display: flex;
  border: 4px solid grey;
  padding: 20px;
  margin-bottom: 40px;
  flex-direction: column;
  align-content: flex-start;
}

#each-tweet:hover {
  box-shadow: 5px 5px 0  lightskyblue;
}

header.tweet-whole {
  display: flex;
  justify-content: space-between;
  align-content: rows;
  align-items: center;
  position: relative;
  padding-top: 20px;
  padding-bottom: 60px;
}

div.tweet-left{ 
  display: flex;
  align-content: rows;
  align-items: center;
  padding-left: 6px;
}

.tweet-content {
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
}

footer {
  display: flex;
  justify-content: space-between;
  align-content: rows;
  align-items: center;
  border-top: solid 4px darkslategray;
  padding: .25em;
  font-size: 18px;
  size: 20em;
  padding-top: 10px;
  padding-bottom: 20px;
}

#user-name {
  display: flex;
  padding-left: .7em;
}

#user-handle {
  font-weight: bold;
  color: lightsteelblue;
}

#social-icons {
  display: flex;
  color: darkslateblue;
  size: 20em;
}

/* adds space between the tweet footer social icons */
.fa-heart,
.fa-flag,
.fa-retweet {
  padding-left: 6px;
}

.fa-heart:hover, 
.fa-retweet:hover,  
.fa-flag:hover {
  color: orange;
}

/* Mobile & Tablet Styles */

@media only screen and (max-width: 1023px) {
  article {
    display: flex;
    min-width: 100%;
    padding: 20px;
  }
}

/* Mobile styles */

@media screen and (max-width: 540px) {
  #user-handle {
  display: none;
  }
}

/* Desktop Styles */

@media only screen and (min-width: 1024px) {
  article {
    display: flex;
    margin-right: 60px;
    margin-left: 60px;
    flex-direction: column;
    align-content: flex-start;
  }
}